<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  backupGlobals="true"
  bootstrap="./vendor/squizlabs/php_codesniffer/tests/bootstrap.php"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true">

  <testsuites>
    <testsuite name="PhpCSExample">
      <directory suffix="UnitTest.php">./PhpCSExample/Tests/</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- This line prevents issues with PHPCS trying to load sniff files for
       standards which we aren't testing.
       Ref: https://github.com/squizlabs/PHP_CodeSniffer/pull/1146 -->
    <env name="PHPCS_IGNORE_TESTS" value="PSR2,PEAR,PSR12,MySource,Squiz,Zend,PSR1,PHPCSDebug"/>
  </php>
</phpunit>
